header .navbar .navbar-user {
  padding-top: 3px;
}

header .navbar li button.link {
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px 15px;
  color: #999;
  background: transparent;
  border: none;
}
