#grid {
  display: grid;
  grid-template-columns: 250px 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 1fr 1fr;
  /* @formatter:off */
  grid-template-areas:
    "header header header header"
    "navigation main   main   main"
    "navigation main   main   main"
    "navigation main   main   main";
  /* @formatter:on */
  height: calc(100vh - 10px);
}

@media only screen and (max-width: 600px) {
  #grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    /* @formatter:off */
    grid-template-areas:
      "header"
      "navigation"
      "main";
    /* @formatter:on */
    height: auto;
  }
}

#navigation {
  grid-area: navigation;
  padding: 20px;
  border-right: 1px solid #ccc;
}

#header {
  grid-area: header;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

#main {
  padding: 20px;
  grid-area: main;
}

.ReactTable .rt-thead .rt-tr {
  text-align: left;
  font-weight: bold;
}
